<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}"  rel="stylesheet">
    <title>Nuevo Anuncio</title>
</head>
<body>

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <section class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo4.png" alt="logo generado por inteligencia artificial" width="150">
            GreenMarket
        </a>
        <section class="d-flex ms-auto">
            <a href="#" class="btn btn-outline-primary me-2">Todos los anuncios</a>
            <a href="#" class="btn btn-outline-primary">Mis anuncios</a>
        </section>
    </section>
</nav>

<!-- Formulario para crear un nuevo anuncio -->
<section class="container my-5 mb-5"> <!-- Se añade el mb-5 aquí -->
    <form th:action="@{/anuncios/nuevo}" method="POST" th:object="${anuncio}" enctype="multipart/form-data">
        <!-- Titulo del producto -->
        <section class="mb-3">
            <label for="titulo" class="form-label">Titulo del producto</label>
            <input type="text" name="titulo" id="titulo" th:field="${anuncio.titulo}" class="form-control" placeholder="Titulo del anuncio">
            <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="text-danger"></span>
        </section>

        <!-- Descripción del producto -->
        <section class="mb-3">
            <label for="descripcion" class="form-label">Descripcion del producto</label>
            <textarea id="descripcion" name="descripcion" rows="4" class="form-control" th:field="${anuncio.descripcion}" placeholder="Descripción del anuncio"></textarea>
        </section>

        <!-- Precio del producto -->
        <section class="mb-3">
            <label for="precio" class="form-label">Precio del producto</label>
            <input type="number" name="precio" id="precio" th:field="${anuncio.precio}" class="form-control" min="0.00" max="10000.00" step="0.01">
            <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" class="text-danger"></span>
        </section>

        <!-- Categoría del producto -->
        <section class="mb-3">
            <label for="categoria" class="form-label">Categoria del producto</label>
            <p th:if="${#lists.isEmpty(categorias)}">No hay categorias aun dadas de alta.</p>
            <select id="categoria" name="categoria" th:field="*{categoria}" class="form-select">
                <option value="">Selecciona una categoria</option>
                <option th:each="categoria : ${categorias}" th:text="${categoria.titulo}" th:value="${categoria.id}"></option>
            </select>
        </section>

        <!-- Sección de imágenes del producto -->
        <section class="mb-3">
            <label class="form-label">Imagenes del producto</label>
            <section class="seccion__articulo__nuevo__contenedorFotos row row-cols-2 row-cols-md-3 g-3" id="contenedorFotos">
                <!-- Contenedor para la primera imagen -->
                <article class="col">
                    <section class="seccion__articulo__nuevo__contenedorFotos--productoInserta" id="contenedorImg1" onclick="activarSelectorImagen(this)">
                        <input type="file" name="archivosFotos" class="seccion__articulo__nuevo__contenedorFotos--fileInput" accept="image/jpeg, image/png, image/gif, image/webp" onchange="visualizarImage(this)">
                    </section>
                </article>

                <!-- Contenedor para la segunda imagen -->
                <article class="col">
                    <section class="seccion__articulo__nuevo__contenedorFotos--productoInserta" id="contenedorImg2" onclick="activarSelectorImagen(this)">
                        <input type="file" name="archivosFotos" class="seccion__articulo__nuevo__contenedorFotos--fileInput" accept="image/jpeg, image/png, image/gif, image/webp" onchange="visualizarImage(this)">
                    </section>
                </article>

                <!-- Contenedor para la tercera imagen -->
                <article class="col">
                    <section class="seccion__articulo__nuevo__contenedorFotos--productoInserta" id="contenedorImg3" onclick="activarSelectorImagen(this)">
                        <input type="file" name="archivosFotos" class="seccion__articulo__nuevo__contenedorFotos--fileInput" accept="image/jpeg, image/png, image/gif, image/webp" onchange="visualizarImage(this)">
                    </section>
                </article>

                <!-- Contenedor para la cuarta imagen -->
                <article class="col">
                    <section class="seccion__articulo__nuevo__contenedorFotos--productoInserta" id="contenedorImg4" onclick="activarSelectorImagen(this)">
                        <input type="file" name="archivosFotos" class="seccion__articulo__nuevo__contenedorFotos--fileInput" accept="image/jpeg, image/png, image/gif, image/webp" onchange="visualizarImage(this)">
                    </section>
                </article>

                <!-- Contenedor para la quinta imagen -->
                <article class="col">
                    <section class="seccion__articulo__nuevo__contenedorFotos--productoInserta" id="contenedorImg5" onclick="activarSelectorImagen(this)">
                        <input type="file" name="archivosFotos" class="seccion__articulo__nuevo__contenedorFotos--fileInput" accept="image/jpeg, image/png, image/gif, image/webp" onchange="visualizarImage(this)">
                    </section>
                </article>
            </section>
        </section>


        <button type="submit" class="btn btn-primary">Crear Anuncio</button>
    </form>
</section>




<script>
    function activarSelectorImagen(caja) {
        caja.querySelector('.seccion__articulo__nuevo__contenedorFotos--fileInput').click();
    }

    function visualizarImage(input) {
        const file = input.files[0];
        const tiposPermitidos = ["image/jpeg", "image/png", "image/gif", "image/webp"];

        if(file && !tiposPermitidos.includes(file.type)){
            alert("Por favor, selecciona un archivo de imagen válido (JPEG, PNG, GIF o WEBP).");
        } else {
            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    let img = input.parentElement.querySelector('img');
                    // Si ya existe una imagen, la reutilizamos; si no, creamos una nueva
                    if (!img) {
                        img = document.createElement('img');
                        input.parentElement.appendChild(img);
                    }
                    img.src = e.target.result; // Asigna la imagen como fondo de la caja
                };
                reader.readAsDataURL(file);
            } else {    // Si no se ha seleccionado archivo y hay una foto, la eliminamos
                let img = input.parentElement.querySelector('img');
                if (img) {
                    img.remove();
                }
            }
        }
    }
</script>

</body>
</html>
