<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Panel del usuario</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <section class="container-fluid">

        <img src="/images/logo4.png" alt="logo generado por inteligencia artificial" width="150">
        <h1 class="ml-3">GreenMarket</h1>

        <section class="d-flex ms-auto">
            <button th:onclick="|window.location.href='@{/}'|" class="btn btn-outline-secondary me-3">Todos los anuncios</button>
            <button th:if="${usuario.rol == 'ROLE_ADMIN'}" th:onclick="|window.location.href='@{/categoria/nuevo}'|" class="btn btn-outline-primary me-2">Crear categoría</button>

            <form th:action="@{/logout}" method="post">
                <input type="submit"  class="btn btn-outline-danger" value="Cerrar Sesión">
            </form>

        </section>
    </section>

</nav>





<main class="container mt-5">

    <section th:if="${anuncioNuevo}!=''" class="alert alert-success">
        <p class="text-center" th:text="'Se ha registrado correctamente el anuncio : ' + ${anuncioNuevo}"></p><br>
    </section>

    <section th:if="${categoriaNueva}!=''" class="alert alert-success">
        <p class="text-center" th:text="'Se ha registrado correctamente la categoría : ' + ${categoriaNueva}"></p><br>
    </section>

    <h1 class="text-center" th:text="'Bienvenido Usuario: ' + ${usuario.nombre}"></h1>

    <section class="mt-4">
        <article>
            <form th:action="@{/anuncios/nuevo}" method="GET" th:object="${usuario}" class="p-4 border rounded shadow-sm">
                <input type="submit" value="Crear nuevo anuncio" class="btn btn-success">
            </form>
        </article>
    </section>

    <section class="p-4 border rounded shadow-sm">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Anuncio</th>
                <th>Precio</th>
                <th>Fecha Creación</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <p class="seccion__anuncios--p" th:if="${#lists.isEmpty(anuncios)}">No hay anuncios.</p>
            <tr th:each="anuncio : ${anuncios}">
                <td th:text="${anuncio.titulo}"></td>
                <td th:text="${anuncio.precio}"></td>
                <td th:text="${anuncio.fechaCreacion}"></td>
                <td>
                    <button th:onclick="|window.location.href='@{/anuncios/ver/{id}(id=${anuncio.id})}'|" class="btn btn-info btn-sm me-2">Ver</button>
                    <button th:onclick="|window.location.href='@{/anuncios/editar/{id}(id=${anuncio.id})}'|" class="btn btn-success btn-sm me-2">Editar</button>
                    <button th:onclick="|window.location.href='@{/anuncios/borrar/{id}(id=${anuncio.id})}'|" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>